/*Makes the paragraphs in about-css.html have a larger font size and dark red colored text*/
p{
    color: darkred;
    font-size: 105%;
}
/*Makes the level 2 headers in about-css.html have a larger font size and dark golden rod colored text*/
h2{
    color: darkgoldenrod;
    font-size: 120%;
}
/*Makes the table, headers, and data in about-css.html have a 1 pixel border that is dark red*/
table, th, td{
    border: 1px solid;
    border-color: darkred;
}
/*Makes the paragraph #donation in about-css.html have a highlighted, black text*/
p#donation{
    background-color: yellow;
    color: black;
}
.deeppink{
    color: deeppink;
}

.logo{
    width: 267px;
    height: 72px;
}
