<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- This is an image from the Robert H. Smith school of business. -->
    <img id="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo">

    <h1>Brady Hammann's About Page</h1>

    <h2>Brady's Background</h2>
    <p>Brady is aged 22 years old. He grew up in Northern Baltimore County and now lives in College Park
        while he attends the University of Maryland. In school, he studies <em>Information Systems</em>
        and <em>Supply Chain Management</em>. After graduation, he plans on working as a Supply Chain Analyst
        at <strong>Northrop Grumman</strong> in <strong>Linthicum, Maryland</strong>.</p>

    <h2>Brady's Hobbies</h2>
    <p>While Brady is not busy with his studies, he enjoys partaking
        in <em>various</em> hobbies. Some of these hobbies include: </p>
    <ul>
        <li>Golf</li>
        <li>Hanging out with friends</li>
        <li>Keeping up with the latest technology trends</li>
    </ul>

    <h2>Brady's Top 3 Favorite Food Ranking</h2>
    <ol>
        <li>Crabs</li>
        <li>Mac and Cheese</li>
        <li>Pizza</li>
    </ol>

    <!-- This is a table showing completed courses and the semester they were taken. -->
    <h2>Some of Brady's Completed Courses</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT 302</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT 402</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT 403</td>
            <td>Fall 2023</td>
        </tr>
    </table>

    <!-- This list contains 2 links to visit other websites. -->
    <h2>Two of Brady's Favorite Websites to Visit</h2>
    <ul>
        <li><a href="https://reddit.com" target="_blank">Reddit</a></li>
        <li><a href="https://wsj.com">Wall Street Journal</a></li>
    </ul>

    <p class = deeppink>A link to my <a href="/hello"> hello page.</a></p>

    <p id="donation">If you enjoy the content from Brady Hammann's CSS about page, please consider donating
    money to him to secure his future. The minimum donation is $1,000,000,000,000, and he thanks
    you in advance!</p>
</body>
</html>