{% extends"base.html" %}

{% block page_title %}Contact{% endblock %}

{% block page_head %}Contact Form{% endblock %}

{% block page_content %}
    <div class="container">
    {% if form_submitted %}
        <div class="col-12">
        <h2>Thank you for the completion of this form.</h2>
        </div>

        <div class="col-md-6">
        <h2>First Name</h2>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('first_name') }}</p>
        </div>

        <div class="col-md-6">
        <h2>Last Name</h2>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('last_name') }}</p>
        </div>

        <div class="col-md-6">
        <h2>Email:</h2>
        </div>

        <div class="col-md-6">
            <p>{{ request.form.get('email') }}</p>
        </div>

        <div class="col-md-6">
        <h2>Student at the University of Maryland:</h2>
        </div>

        <div class="col-md-6">
            <p>{{ 'Yes' if request.form.get('student_check') else 'No'}}</p>
        </div>

    {% else %}
        <form class="row g-3" action="/contact" method="post">
            <div class = "col-md-6">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
            </div>

            <div class = "col-md-6">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
            </div>

            <div class = "col-12">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>

            <div class = "col-12">
                <div class = "form-check">
                    <input class="form-check-input" type="checkbox" id="student_check" name="student_check">
                    <label class="form-check-label" for="student_check">I am a student at the University of Maryland</label>
                </div>
            </div>
            <div class = "col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}